.main {
  margin: 0 auto;
}

.main > h2 {
  text-align: center;
  margin-bottom: 50px;
}

.flex {
  display: flex;
}

.add-button {
  position: absolute;
  margin: 0.5em 0 0 75em;
}

.add-button > button {
  /* background-color: rgb(207, 207, 207); Green */
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 14px 20px 14px 20px;
  background-image: linear-gradient(to left bottom, #000000, #420f1d, #820327, #c20023, #ff0000);
  text-decoration: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.div-overflow {
  height: 500px;
  overflow: auto;
  width: 600px;
  padding: 5px 10px;
  margin: 0 auto;
  background: black;
  border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
}

.div-overflow::-webkit-scrollbar {
  display: none;
}

.music-count {
  position: absolute;
  color: white;
  margin: 0.5em 0 0 5em;
}
