/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: radial-gradient(circle, #52565b, #404044, #2d2c2e, #1b191a, #000000);
}

.text-white {
  color: white;
}

button {
  font-family: 'Montserrat', sans-serif;
}
